
/* ----------- COUNTDOWN & IMAGE CONTAINER ----------- */

#countdownAndImage{
    width: 100%;
}


/* ----------- COUNTDOWN ----------- */

#countdownPanel{
    width:20vh;
    height:50vh;
    padding-top:5vh;

    z-index: 0;
}

/* --- background ---- */
#backgroundCountdownPanel{
    transition: background-color 0.5s;
    background-color: var(--top-color);
    width: 100%;
    height: 100%;

    position: relative;

    overflow: hidden;
}

#backgroundCountdownPanel::after{
    display: inline-block;
    animation-name: shiningEffect;
    animation-delay: 0s;

    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

    width:40px;
    height: 120%;
    background-color: rgba(255, 255, 255, 0.1);
    content:"";
    position: relative;
    top:0%;
    transform-origin: center;
    transform: translateY(-90%) translateX(100%) rotate(-18deg);
}

@keyframes shiningEffect{
    0% {transform: translateY(-90%) translateX(-100%) rotate(-18deg);}
    50% {transform: translateY(-90%) translateX(300%) rotate(-18deg);}
    100% {transform: translateY(-90%) translateX(-100%) rotate(-18deg);}
}

/* --- countdown element ---- */
#countdownColumnContainer{
    width:75%;
    height: 100%;

    display:flex;
    justify-content: space-around;
    flex-direction: row;
}

#countdownColumn{
    font-family:'Courier New', Courier, monospace;
    font-size: 6vh;
    font-weight: normal;
    color: var(--nearly-black);

    z-index: 1;

    height: 100%;

    display:flex;
    justify-content:space-evenly;
    flex-direction: column;
}

#passedText{
    font-size: 12px;
    font-weight: normal;
    position: absolute;

    padding: 1vw;
    width:30vw;

    display:none;
}

.countdownItem{
    text-align: center;
}

/* ----------- BACKGROUND TEXT ----------- */


#backgroundTextContainer{
    width:calc(100% - 20vh);
    height:40vh;

    position: absolute;
    top:15vh;
    right: 0;

    text-align: center;

    display:flex;
    justify-content:space-evenly;
    flex-direction: column;
}

.backgroundText{
    width: 100%;
    font-size: 5vh;
    font-weight: 20000;
    color: var(--nearly-black);
    opacity: 0.7;

}

/* ----------- IMAGE ----------- */


#image{
    background: linear-gradient(156deg, var(--bottom-color) 0%, var(--gold-color) 100%);
    box-sizing: border-box;
    position: absolute;
    width:calc(100% - 15vh);
    height:50vh;
    right:0vw;
    z-index: 2;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

    display:flex;
    justify-content: center;
    align-items: center;
}


#imageInner{
    background-color: var(--nearly-black);
    background-image: url('../assets/Aatrox_8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position:relative;

    width:calc(100% - 20px);
    height:calc(100% - 20px);
    z-index: 3;

    opacity: 0.8;

    overflow: hidden;

}

.animationImageSwap{
    animation-name: leavingToLeft, appearingFromRight;
    animation-delay: 0s, 0.6s;
    animation-duration: 0.6s, 0.4s;
}

@keyframes leavingToLeft{
    0% {transform: translateX(0%);}
    100% {transform: translateX(calc(-100% - 15vh));}
}

@keyframes appearingFromRight{
    0% {transform: translateX(100%);}
    100% {transform: translateX(0%);}
}
