:root{
    --gold-color: #F6BB62;
    --gold-color-light: #f6CA62;
    --silver-color: #bdbdbd;
    --silver-color-light: #ececec;
    --nearly-black:#0F2226;
    --bottom-color:#1A2623;
    --top-color:#455854;
}

*{
    margin: 0;
    padding: 0;
    animation-delay: 0.5s;
}

html, body{
    position:relative;
    overflow-x:hidden;
    width:100vw;
}

#main-container{
    z-index: -2;
    background: linear-gradient(0deg, var(--bottom-color) 0%, var(--top-color) 100%);
    color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    font-weight:800;
    font-family: Arial, Helvetica, sans-serif;
}

/* ----------- DATE ----------- */

#date-hider{
    right: 0vw;
    width: 31vh;
    height: 7.4vh;
    position: absolute;
    background-color:  #324641;


    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.animationDateHiderOut{
    animation-name: dateHiderOut;
}

.animationDateHiderSwap{
    animation-name: dateHiderSwap;
    animation-delay: 0s;
    animation-duration: 0.25s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes dateHiderOut{
    0% {right:0vw}
    100% {right:-31vh;}
}

@keyframes dateHiderSwap{
    0% {right:-31vh;}
    100% {right:0vw}
}

#date-container-container{
    width: 100%;

    padding-top:1.5vh;
    padding-bottom:1.5vh;

    display:flex;
    justify-content: space-between;
}

#date-container{
    margin-right:1.5vh;
    font-size: 2.5vh;
    max-width: 31vh;
}

#date{
    display:flex;
}

#date-date{
    color: var(--gold-color);
}

#date-hour{
    color:var(--nearly-black);
}

#date-gmt{
    font-weight: normal;
    float:right;
    color:var(--nearly-black);
}


/* ----------- COUNTDOWN & IMAGE CONTAINER ----------- */

#countdownAndImage{
    width: 100%;
}


/* ----------- COUNTDOWN ----------- */

#countdownColumnContainer{
    width:75%;
    height: 100%;

    display:flex;
    justify-content: space-around;
    flex-direction: row;
}

#countdownColumn{
    font-family:'Courier New', Courier, monospace;
    font-size: 6vh;
    font-weight: normal;
    color: var(--nearly-black);

    z-index: 1;

    height: 100%;

    display:flex;
    justify-content:space-evenly;
    flex-direction: column;
}

#countdownPanel{
    width:20vh;
    height:50vh;
    padding-top:5vh;

    z-index: 0;
}

#passedText{
    font-size: 12px;
    font-weight: normal;
    position: absolute;

    padding: 1vw;
    width:30vw;

    display:none;
}


#backgroundCountdownPanel{
    transition: background-color 0.5s;
    background-color: var(--top-color);
    width: 100%;
    height: 100%;

    position: relative;

    overflow: hidden;
}

#backgroundCountdownPanel::after{
    display: inline-block;
    animation-name: shiningEffect;
    animation-delay: 0s;

    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

    width:40px;
    height: 120%;
    background-color: rgba(255, 255, 255, 0.1);
    content:"";
    position: relative;
    top:0%;
    transform-origin: center;
    transform: translateY(-90%) translateX(100%) rotate(-18deg);
}

@keyframes shiningEffect{
    0% {transform: translateY(-90%) translateX(-100%) rotate(-18deg);}
    50% {transform: translateY(-90%) translateX(300%) rotate(-18deg);}
    100% {transform: translateY(-90%) translateX(-100%) rotate(-18deg);}
}

/* ----------- BACKGROUND TEXT ----------- */


#backgroundTextContainer{
    width:calc(100vw - 20vh);
    height:40vh;

    position: absolute;
    top:15vh;
    right: 0;

    text-align: center;

    display:flex;
    justify-content:space-evenly;
    flex-direction: column;
}

.backgroundText{
    width: 100%;
    font-size: 5vh;
    font-weight: 20000;
    color: var(--nearly-black);
    opacity: 0.7;

}

/* ----------- IMAGE ----------- */


#image{

    background: linear-gradient(156deg, var(--bottom-color) 0%, var(--gold-color) 100%);

    box-sizing: border-box;
    position: absolute;
    width:calc(100vw - 15vh);
    height:50vh;
    right:0vw;
    z-index: 2;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

    display:flex;
    justify-content: center;
    align-items: center;
}

#image::after{
    content:"";
    background-color: var(--nearly-black);
    background-image: url('../assets/Aatrox_0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width:calc(100% - 20px);
    height:calc(100% - 20px);
    z-index: 2;
}

/* Swap louis style */
.animationImageSwap{
    animation-name: imageSwap;
    animation-delay: 0s;
    animation-duration: 1s;
}

@keyframes imageSwap{
    0% {right:0vw}
    60% {right:100vw}
    61% {right:-70vw}
    100% {right:0vw}
}

/* ----------- BOTTOM INFORMATIONS ----------- */


#bottomInformations{
    font-size: 12px;
    font-weight: normal;
    color: #7474746e;
    background-color: var(--bottom-color);
    text-align: center;

}


/* ----------- SELECTOR ----------- */


.selectorContainer{
    margin-top: 3vh;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    width: 70vw;
    left: 15vw;

    position: relative;
}

.selector{
    /*font-size: 150%;*/
    color:var(--bottom-color);
    text-shadow: -1px 1px 0 var(--gold-color),
				  1px 1px 0 var(--gold-color),
				 1px -1px 0 var(--gold-color),
				-1px -1px 0 var(--gold-color);
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    word-break: break-all;
}

.selectorButton{
    background-color:var(--gold-color);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    position:relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    transition: 0.4s;
    transition-property: opacity;
}

.selectorButtonInner{
    width: 80%;
    height: 80%;
    
    background-color: var(--bottom-color);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.selectorButtonEnabled:active {
    background-color: #996f31;
    transform: translateY(5%);
}

.selectorButtonDisabled{
    opacity: 0.1;
}


.arrowRight{
    width:70%;
    height: 70%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.arrowRight::after{
    display:block;
    width: 20%;
    height: 80%;
    background-color: var(--gold-color);
    position:absolute;
    top: -20%;
    content:"";
    transform-origin: 50% 80%;
    transform: translateX(150%) rotate(-45deg) ;
}

.arrowRight::before{
    display:block;
    width: 20%;
    height: 80%;
    background-color: var(--gold-color);
    position:absolute;
    bottom: -20%;
    content:"";
    transform-origin: 50% 20%;
    transform: translateX(150%) rotate(45deg);
}

.arrowLeft{
    width:70%;
    height: 70%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.arrowLeft::after{
    display:block;
    width: 20%;
    height: 80%;
    background-color: var(--gold-color);
    position:absolute;
    top: -20%;
    content:"";
    transform-origin: 50% 80%;
    transform: translateX(-150%) rotate(45deg) ;
}

.arrowLeft::before{
    display:block;
    width: 20%;
    height: 80%;
    background-color: var(--gold-color);
    position:absolute;
    bottom: -20%;
    content:"";
    transform-origin: 50% 20%;
    transform: translateX(-150%) rotate(-45deg);
}

.selectorButtonContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}



/* ----------- DROPDOWN ----------- */ 

/* Dropdown Button */
.dropbtn {
    background-color:var(--nearly-black);
    color: var(--gold-color);
    width: 5rem;
    padding-top:1.5vh;
    padding-bottom:1.5vh;
    font-size: 2.5vh;
    font-weight: 800;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
/*.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
    border : 0.1vh solid var(--gold-color);
    position: relative;
    z-index: 3;
    margin-left: 1.5vh;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    background-color: var(--gold-color);
    display: none;
    position: absolute;
    width: 100%;
    height: 52vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
    z-index: 4;
    overflow: auto;
}

/* Links inside the dropdown */
.dropdown-item {
    background-color:var(--bottom-color);
    
    border-bottom : 0.1vh solid var(--gold-color);
    color: var(--gold-color);
    text-align: center;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 2vh;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {background-color: #ddd}
*/
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}