.selectorContainer{
    margin-top: 3vh;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    width: 70vw;
    left: 15vw;

    position: relative;
}

.selector{
    /*font-size: 150%;*/
    color:var(--gold-color);
    /*text-shadow: -1px 1px 0 var(--gold-color),
				  1px 1px 0 var(--gold-color),
				 1px -1px 0 var(--gold-color),
				-1px -1px 0 var(--gold-color);*/
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    word-break: break-all;
}


/* ----------- BUTTON ----------- */


.selectorButtonContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.selectorButton{
    background-color:var(--gold-color);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    position:relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    transition: 0.4s;
    transition-property: opacity;
}

.selectorButtonInner{
    width: 90%;
    height: 90%;
    
    background-color: var(--bottom-color);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.selectorButtonEnabled:active {
    background-color: #996f31;
    transform: translateY(5%);
}

.selectorButtonDisabled{
    opacity: 0.1;
}


/* ----------- ARROWS ----------- */


.arrowRight{
    width:70%;
    height: 70%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.arrowRight::after{
    display:block;
    width: 15%;
    height: 60%;
    background-color: var(--gold-color);
    position:absolute;
    top: 0%;
    content:"";
    transform-origin: 50% 80%;
    transform: translateX(100%) rotate(-45deg) ;
}

.arrowRight::before{
    display:block;
    width: 15%;
    height: 60%;
    background-color: var(--gold-color);
    position:absolute;
    bottom: 0%;
    content:"";
    transform-origin: 50% 20%;
    transform: translateX(100%) rotate(45deg);
}

.arrowLeft{
    width:70%;
    height: 70%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.arrowLeft::after{
    display:block;
    width: 15%;
    height: 60%;
    background-color: var(--gold-color);
    position:absolute;
    top: 0%;
    content:"";
    transform-origin: 50% 80%;
    transform: translateX(-150%) rotate(45deg) ;
}

.arrowLeft::before{
    display:block;
    width: 15%;
    height: 60%;
    background-color: var(--gold-color);
    position:absolute;
    bottom: 0%;
    content:"";
    transform-origin: 50% 20%;
    transform: translateX(-150%) rotate(-45deg);
}